doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    style
      include ../style/timetable.css
    link(href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap" rel="stylesheet")
    script(src="/js/timetable.js")
    title #{title}
  body
    .container
      for station in stations
        .departureBoard(station=station.id, foot=station.foot, bike=station.bike, run=station.run)
          .headRow
            .stationName
            .timeStamp
          table
            tr
              th Line
              th.wide Destination
              th Time
              th Reach

